<!-- pages/templates/pages/forum.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf=8">
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
</head>
<body>
    <div class="chat">
        <div class="chat-screen">
            <div class="header">
                <div class="logo"> Chatroom </div>
                <button id="exit_chat">Exit</button>
            </div>
            <div class="messages">
                <!-- Example messages-->
                <div class="message my-messages">
                    <div>
                        <div class="name">You</div>
                        <div class="text">Insert User Text Here</div>
                    </div>
                </div>

                <div class="update">
                    Another person has joined the chat!
                </div>

                <div class="message other-messages">
                    <div>
                        <div class="name">Otherguy</div>
                        <div class="text">Other guy text</div>
                    </div>
                </div>
            </div>
            <div class="typebox">
                <input type="text" id="message-input">
                <button id="send-message">Send</button>
            </div>
        </div>
        <!-- Hidden input to get the username just in case user.username doesn't work.-->
        <input type="hidden" id="userId" value={{user.username}}>
        
        <!--To use the JS for forum-->
        <script src="/pages/static/forumJS.js"></script>

        <h1>Friends List</h1>
        <ul>
            {% for friend in friends %}
                <li>{{ friend.friend.username }}</li>
            {% endfor %}
        </ul>
        
        <!-- Will install socket to have client and server side to have a chatrom-->
</body>
</html>