<!-- In characters.html template -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Characters</title>
    <link rel="stylesheet" href = "{% static 'home.css' %}">
</head>
<body>

<h1>Marvel Characters</h1>
<div class="login">
{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
        </form>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}
</div>

<form method="POST" id = "search-form" action = "/search/" >
    {% csrf_token %}
    <label for="name">Search by Name:</label>
    <input type="text" id="search-input" name="characterName" placeholder="Search character...">
    <div id="suggestions"></div>


    <label for="year">Search by Year:</label>
    <input type="text" id="year" name="year">

    <button type="submit">Search</button>

</form>

<!--<form method="GET" id = "favorite" action="">

    Work in progress button, once summarization is finished. Button can be made according to the values of summarization.
</form>-->

<script>
    
    const searchInput = document.getElementById('search-input');
    const suggestionContainer = document.getElementById('suggestions');
    //function to fetch auto suggestions
    const fetchSuggestions = (query) => {
        fetch('/character-name-suggestions/?query=${query}')
        .then(response => response.json())
        .then(data => {
            suggestionsConatiner.innerHTML = '';
            data.suggestions.forEach(suggestion => {
                suggestionElement.textContent = suggestion;
                suggestionsContainer.appendChild(suggestionElement);
             })
        })
        .catch(error => console.error('Error fetching suggestions:', error));
    };
    //Event listener for input field
    document.getElementById('search-form').addEventListener('submit', function(event) {
        //if the input field is empty, does not submit
        searchText = searchInput
        fetch('/home/',{
            method: 'POST',
            body: JSON.stringify(searchText),
        })
        .then(response => response.json())
        .then(searchText => {
            console.log(searchInput.message)
        })
        .catch(error => {
            console.error('Error', error);
        })

        if (!searchInput.value.trim()) {
            event.preventDefault();
        }
    });

    const picture = document.getElementById('picture-link');
    const comicDate = document.getElementById('get-date');
    const get_author_name = document.getElementById('get-author-name');
    const get_comic_name = document.getElementById('get-comic-name');
    const get_summary = document.getElementById('get-summary');
    document.getElementById('comic').addEventListener('submit', function(event) {
        const submitComicForm = () => {
            const comicData = {
                picture_link: picture,
                date: comicDate,
                author_name: get_author_name,
                comic_name: get_comic_name,
                summary: get_summary
            };
        
            fetch('/add_to_favorites/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                   
                },
                body: JSON.stringify(comicData)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message); 
            })
            .catch(error => {
                console.error('Error: not able to collect all comic data', error); 
            });
        };
    });

</script>
<div class= forum>
<a href ="{% url 'forum' %}">Join the forum!</a>
</div>
</body>
</html>
