<!-- In characters.html template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Characters</title>
</head>
<body>

<h1>Marvel Characters</h1>

<form method="GET">
    <label for="name">Search by Name:</label>
    <input type="text" id="name" name="name">

    <label for="year">Search by Year:</label>
    <input type="text" id="year" name="year">

    <button type="submit">Search</button>
</form>



</body>
</html>
