<!DOCTYPE html>
<!-- Pathway of Marvels Greatest Login Page. -->
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%load static%}
<link rel="stylesheet" href=" {% static 'Marvel_LoginStyle.css' %}">
<body>

<h2>Pathway of Marvels Greatest Sign Up</h2>
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="imgcontainer">
      {% load static %}
      <img src="{% static '/Silver_Surfer.png' %}" alt="Silver Surfer" class="Silver_Surfer">
    </div>

    <div class="container">
        {{ form.as_p }}
      <button type="submit">Enter The Multiverse</button>
    </div>
  </form>
</body>
</html>