<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" href="DarkMode.css">
<title>Marvel Dark Mode</title>
</head>
<body>
    <header>
        <h2> Turn Dark/Light Mode on or off </h2>
        <p>This is an example of what the dark mode would look like</p>
        <button id="dark-mode-toggle">Toggle Dark Mode</button>    
    </header>

    <script src="DarkModeScript.js"></script>

</body>
</html>
