{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href = "{% static 'searchResults.css' %}">
</head>
<body>
    {% block content %}
        <div name="Character"> 
        <h1>{{name}}</h1>
        <img src={{image}} class = 'image'>
        </div>

        <div name="describe" class ="describe">
           <p>  {{description}} </p>
        </div>

        <!--{% for x in comInfo%}
            <img src={{x.title}}>
            {{x.comicYear}}
            {{x.summary}}
        {% endfor %}
    {% endblock content %}  -->
   
    <a href = "{% url 'search' %}">
        <button class = "button">Return to search</button>
    <a/>

</body>
</html>