{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href = "{% static 'searchResults.css' %}">

    
</head>
<body>
    {% block content %}
        <div name="Character"> 
        <h1>{{name}}</h1>
        <img src={{image}} class = 'image'>
        </div>

        <div name="describe" class ="describe">
           <p>  {{description}} </p>
        </div>
        <!-- displays comics -->
        <div name = "comInfo">
        <h1>Comics</h1>
        <ul>
            {% for comic in comInfo %}
                          
                <h4>{{ comic.title }}</h4>
                {% if comic.comicIMG %}
                  <img src="{{ comic.comicIMG}}" alt="{{ comic.title }}" height=500 width=500>
                {% endif %}

                {% if comic.summary %}
                  <p>{{ comic.summary }}</p>
                {% endif %}

                <P>Comic Auhors: {{comic.comicAuthors}} </p>
                <p> Character Appearances: {{comic.characterAppearances}} </p>

            
            {% endfor %}
        </ul>
        </div>
    {% endblock %}
   
    <a href = "{% url 'search' %}">
        <button class = "button">Return to search</button>
    <a/>

</body>
</html>