#title {
    background-color: red; /* Red background */
}

#comInfo {
    background-color: lightgray;/* Lightgray background */
}

#Comics{
    background-color: rgb(82, 82, 207); /*Custom blue color */
    text-align: center;
}

.btns button, #down{
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }